.input {
    display: block;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    width: 13rem;
    margin: auto;
  }
  
  .input label {
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
    margin: auto;
  }
  
  .input input {
    width: 15rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }